<h1>Eat-Da-Burger!</h1>


<h2>Burgers that need to be devoured!</h2>

<ul>
    {{#each burgers}}
        {{#unless}}
            {{burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers already devoured!</h2>
    <ul>
        {{#each burgers}}
            {{#unless}}
                {{burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ul>

<h2>Make a New Burger</h2>
<form class = "create-form">

    <div class = "form-group" >
            <label for = "burg">Type of Hamburger: </label>
            <input type = "text" id = "burg" name = "name">
    </div>

    <div class = "form-group">
            <label for = "hungry">Hungry?</label><br>
            <input type = "radio" name = "hungry" value = "1" checked> Hungry!<br>
            <input type = "radio" nmae = "hungry" value = "0"> Full!
    </div>

    <button type = "submit">Add Burger</button>
</form>